<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>MCAdmin - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/constants.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/polyfill/event_source.js') }}"></script>
{% endblock %}
</body>
</html>
