{# mcadmin/templates/configuration_panel.html #}

{% extends "_panel_page.html" %}
{% from "_utilmacros.html" import list_flashed_messages %}

{% block title %}
    Configuration
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/configuration_page.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="mc-card">
        {{ list_flashed_messages() }}
        <span>CONFIGURATION</span>
    </div>
{% endblock %}