{# mcadmin/templates/console_panel.html #}

{% extends "_layout.html" %}
{% from "_panelmacros.html" import toolbar %}

{% block title %}Console{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/console_panel.css') }}">
{% endblock %}

{% block content %}
    {{ toolbar() }}
    <div class="mc-card console-container">
        <!--suppress HtmlFormInputWithoutLabel -->
        <textarea id="console-box" class="console-box" readonly>
            {{ console_history }}
        </textarea>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/console_panel.js') }}"></script>
{% endblock %}