{# mcadmin/templates/index.html #}

{% extends "_layout.html" %}
{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="mc-card toolbar">
            <h2>Server Status</h2>
            <h2>Server Console</h2>
            <h2>Properties</h2>
            <h2>Whitelist</h2>
            <h2>Banned Players</h2>
        </div>
        <div class="mc-card status-card">
            <h4>Server status</h4>

            <table class="status-table">
                <caption class="hidden">Overview of Server Status</caption>
                <thead class="hidden">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Server Status</td>
                    <td>--placeholder--</td>
                </tr>
                <tr>
                    <td>Uptime</td>
                    <td>--placeholder--</td>
                </tr>
                <tr>
                    <td>Peak Activity</td>
                    <td>--placeholder--</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
