{# mcadmin/templates/registration.html #}
{% extends "layout.html" %}

{% block title %}Registration{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="mc-card growing">
            <form class="registration-form mc-fade-in" id="registration-form">
                <h2>Register</h2>
                <input type="password"
                       id="password-input"
                       name="password"
                       class="mc-input"
                       aria-describedby="password-help"
                       placeholder="Enter password"
                       pattern=".{8,255}"
                       required/>
                <small id="password-help">This will be your password! Make sure it's strong!</small>
                <input type="password"
                       id="repeat-password-input"
                       name="repeat_password"
                       aria-describedby="password-help"
                       class="mc-input"
                       placeholder="Confirm password"
                       required/>
                <small id="repeat-password-help">Type the same password as you did above.</small>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var form;
        var submitFormBtn;
        var passwordInp;
        var repeatPasswordInp;

        window.onload = function () {
            // find elements
            form = document.getElementById("registration-form");
            passwordInp = document.getElementById("password-input");
            repeatPasswordInp = document.getElementById("repeat-password-input");

            // submit form button
            submitFormBtn = document.createElement("button");
            submitFormBtn.className = "mc-grn-btn transition-in-from-right";
            submitFormBtn.id = "submit-form-btn";
            submitFormBtn.type = "submit";
            submitFormBtn.textContent = "Submit";

            // set up event listeners
            // form.addEventListener("submit", onFormSubmit, false);
            passwordInp.onchange = validatePasswords;
            repeatPasswordInp.onkeyup = validatePasswords;
        };

        function validatePasswords() {
            if (passwordInp.value !== repeatPasswordInp.value) {
                repeatPasswordInp.setCustomValidity("The passwords don't match!");
            } else {
                repeatPasswordInp.setCustomValidity("");
            }
        }
    </script>
{% endblock %}
