{# mcadmin/templates/registration.html #}
{% extends "layout.html" %}

{% block title %}Registration{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">
{% endblock %}

{% block content %}
    <div class="background-pic"></div>
    <div class="container">
        <div class="mc-card growing">
            <form class="registration-form mc-fade-in"
                  action="{{ url_for('register') }}"
                  method="post">
                <h2>Register</h2>
                <input type="password"
                       id="password-input"
                       class="mc-input"
                       aria-describedby="password-help"
                       placeholder="Enter password"/>
                <small id="password-help">Please make sure it is strong enough</small>
                <input type="password"
                       id="repeat-password-input"
                       aria-describedby="password-help"
                       class="mc-input"
                       placeholder="Confirm password"/>
                <small id="repeat-password-help">Make sure the passwords match</small>
                {{ form.csrf_token }}
                <button class="mc-grn-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
