{# mcadmin/templates/status_panel.html #}

{% extends "_layout.html" %}
{% from "_panelmacros.html" import toolbar %}


{% block title %}Status{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_page.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/status_panel.css') }}"/>
{% endblock %}


{% block content %}
    {{ toolbar() }}
    <div class="mc-card status-card">
        <p>Server status</p>

        <table class="status-table">
            <caption class="hidden">Overview of Server Status</caption>
            <thead class="hidden">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Server Status</td>
                <td>--placeholder--</td>
            </tr>
            <tr>
                <td>Uptime</td>
                <td>--placeholder--</td>
            </tr>
            <tr>
                <td>Peak Activity</td>
                <td>--placeholder--</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
