{# mcadmin/templates/index.html #}

{% extends "_layout.html" %}
{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_page.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/status_panel.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="mc-card toolbar">
            {% from "_panelmacros.html" import toolbar %}
            {{ toolbar() }}
        </div>
        <div class="mc-card status-card">
            <p>Server status</p>

            <table class="status-table">
                <caption class="hidden">Overview of Server Status</caption>
                <thead class="hidden">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Server Status</td>
                    <td>--placeholder--</td>
                </tr>
                <tr>
                    <td>Uptime</td>
                    <td>--placeholder--</td>
                </tr>
                <tr>
                    <td>Peak Activity</td>
                    <td>--placeholder--</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
