/* mcadmin/static/registration.css */

html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
}

.background-pic {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/static/img/water.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: -1;
}

.container {
    justify-content: center;
    -webkit-justify-content: center;

    align-items: center;
    -webkit-align-items: center;

    display: flex;
    height: 100%;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);

    box-shadow: 2px 2px 3px black;
}

.card form {
    margin: 28px;

    display: flex;

    justify-content: center;
    -webkit-justify-content: center;

    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;

    align-items: center;
    -webkit-align-items: center;

    padding: 0 50px;
}

.card form h2 {
    margin-bottom: 50px;
}

.card form small {
    color: darkgray;
    align-self: flex-start;
    -webkit-align-self: flex-start;
}

.card .mc-input {
    align-self: stretch;
    -webkit-align-self: stretch;

    margin-top: 5px;
    margin-bottom: 40px;
}
