@import "mixins";

.console-container {
  @include center-flex;

  margin: 10px;
  min-width: 600px;

  flex-direction: column;
}

.console-box {
  width: 80vw;
  height: 80vh;
  background: black;
  color: white;
}

.console-line:before {
  content: ">";
}

#console-input {
  width: 100%;
  margin: 0 10px 0 10px;
  color: white;
  background: black;
  border: 0;
  line-height: 20px;
}