@import "mixins";

.status-card {
  @include center-flex;
  flex-direction: column;

  max-width: 90%;
  width: 600px;
  padding: 30px;
  font-weight: bold;
}

.status-table {
  width: 100%;
  max-width: 70%;
}

.status-table td {
  padding: 14px 0;
}

.status-table td:last-child {
  text-align: right;
}