// mcadmin/assets/scss/index.scss

.container {
  background-color: black;
  flex-direction: column;
}

.mc-card {
  margin: 10px;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar h2 {
  margin: 20px 50px;
}

.status-card {
  max-width: 90%;
  width: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 50px;

  font-weight: bold;
}

.status-table {
  width: 100%;
  max-width: 70%;
}

.status-table td {
  padding: 10px 0;
}

.status-table td:last-child {
    text-align: right;
}