// mcadmin/assets/scss/registration.scss
@import "values";

html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.container:before {
  content: "";

  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;

  background-image: url("/static/img/water.jpg");
  background-size: cover;

  filter: blur(4px);
  transform: scale(1.03);
}

.container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.mc-card form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mc-card .mc-input {
  margin: 10px 0;
}

.mc-card form h2 {
  margin-bottom: 50px;
  align-self: center;
}

.mc-card form small {
  align-self: flex-start;

  margin-top: 5px;
  margin-bottom: 40px;

  color: darkgray;
}

.mc-card .mc-input {
  align-self: stretch;
}
