// mcadmin/assets/scss/registration.scss

@import "values";

html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
}

.background-pic {
  position: absolute;
  height: 100%;
  width: 100%;

  background-image: url("/static/img/water.jpg");
  filter: blur(4px);
  z-index: -1;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.mc-card {
  padding: 50px;
}

.mc-card form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-device-width: $sm-tablet-width-max) {
  .mc-card .mc-input, .mc-card form small {
    margin: 10px 0;
  }
}

.mc-card form h2 {
  margin-bottom: 50px;

  @media screen and (max-device-width: $sm-tablet-width-max) {
    font-size: 48pt;
  }
}

.mc-card form small {
  color: darkgray;
  align-self: flex-start;

  margin-top: 5px;
  margin-bottom: 40px;
}

.mc-card .mc-input {
  align-self: stretch;
}
