// mcadmin/assets/scss/styles.scss
/**
 Sections:
   [general]
   [animations]
 */
@import "values";

// @formatter:off
$mc-card-max-width = 600px;
$mc-card-max-height = 600px;
$mc-card-max-height-mobile = 98vw;
// @formatter:on

// [general]

@font-face {
  font-family: 'White Rabbit';
  src: local('White Rabbit'), url("/static/fonts/WhiteRabbit.otf") format("opentype");
}

* {
  font-family: "White Rabbit", sans-serif;

  @media screen and (max-device-width: $sm-tablet-width-max) {
    font-size: xx-large;
  }
}

.hidden {
  visibility: hidden;
}

.mc-grn-btn {
  padding: 8px 30px;
  background-color: limegreen;
  border: 2px solid black;
  box-shadow: 2px 2px 0 gray;
  text-shadow: 1px 1px 2px black;
  color: white;
  cursor: pointer;
  font-size: larger;
}

.mc-input {
  border: 2px solid gray;
  padding: 10px 10px;
}

.mc-card {
  padding: 50px;
  max-width: $mc-card-max-width;
  max-height: $mc-card-max-height;

  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);

  @media screen and (max-device-width: $sm-tablet-width-max) {
    max-height: $mc-card-max-height-mobile;
  }
}

// [animations]

.mc-card.growing {
  animation-duration: 1s, 0.3s;
  animation-name: mc-card-grow, mc-card-raise;
  animation-timing-function: ease-out, ease-out;
}

@keyframes mc-card-grow {
  from {
    max-width: 1vw;
  }
  40% {
    max-width: 1vw;
  }
  to {
    max-width: $mc-card-max-width;
  }
}

@keyframes mc-card-raise {
  from {
    position: absolute;
    transform: translate(0, 200%);
  }
  to {
    position: relative;
    transform: translate(0, 0);
  }
}

.mc-fade-in {
  animation-duration: 1s;
  animation-name: mc-fade-in;
  animation-timing-function: cubic-bezier(1, -0.83, 1, 1);
}

@keyframes mc-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.transition-in-from-right {
  animation-duration: 1s;
  animation-name: transition-in-from-right;
}

@keyframes transition-in-from-right {
  from {
    transform: translate(400%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.transition-out-to-right {
  animation-duration: 1s;
  animation-name: transition-out-to-right;
}

@keyframes transition-out-to-right {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(400%, 0);
  }
}
