// mcadmin/assets/scss/values.scss

$lg-desktop-width-min: 1281px;
$md-desktop-width-max: 1280px;
$md-desktop-width-min: 1025px;
$md-tablet-width-max: 1024px;
$md-tablet-width-min: 768px;
$sm-tablet-width-max: 767px;
$sm-tablet-width-min: 481px;
$phone-width-max: 480px;


// colors
$invalid-input-field = rgb(204, 0, 0);
$valid-input-field = rgb(102, 255, 51);
