{% extends "_layout.html" %}

{% macro toolbar_entry(icon, label, url) %}
    <a href="{{ url if url else '#' }}">
        <div class="toolbar-entry">
            <div class="toolbar-icon-box">
                <img class="toolbar-entry-icon" src="{{ url_for('static', filename=icon) }}" alt="Icon">
            </div>
            <h3 class="toolbar-entry-label">{{ label }}</h3>
        </div>
    </a>
{% endmacro %}

{% macro toolbar() %}
    <div class="mc-card toolbar">
        {{ toolbar_entry("img/icons/lamp.png", "Server Status", url_for('status_panel')) }}
        {{ toolbar_entry("img/icons/command_line.png", "Console", url_for('console_panel')) }}
        {{ toolbar_entry("img/icons/enchanting_table.png", "Configuration", url_for('configuration_panel')) }}
        {{ toolbar_entry("img/icons/paper.png", "Whitelist", url_for('whitelist_panel')) }}
        {{ toolbar_entry("img/icons/steve_block.png", "Banned Players") }}
    </div>
{% endmacro %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel/styles.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    {{ toolbar() }}
{% endblock %}