{% extends "panel/_template.html" %}
{% from "_utilmacros.html" import list_flashed_messages %}

{% block title %}Console{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel/console.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    {{ list_flashed_messages() }}
    <div class="mc-card console-container">
        <!--suppress HtmlFormInputWithoutLabel -->
        <textarea id="console-box" class="console-box" readonly>
            {{ console_history }}
        </textarea>
        <input id="console-input" type="text">
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/panel/console.js') }}"></script>
{% endblock %}