{% extends "panel/_template.html" %}
{% from "_utilmacros.html" import list_flashed_messages %}

{% block title %}Status{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel/status.css') }}"/>
{% endblock %}


{% block content %}
    {{ super() }}
    {{ list_flashed_messages() }}
    <div class="mc-card status-card">
        <p>Server status</p>

        <table class="status-table">
            <caption class="hidden">Overview of Server Status</caption>
            <thead class="hidden">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Server Status</td>
                <td><span id="server-status">Unavailable</span></td>
            </tr>
            <tr>
                <td>Uptime</td>
                <td><span id="uptime">Unavailable</span></td>
            </tr>
            <tr>
                <td>Peak Activity</td>
                <td><span id="peak-activity">Unavailable</span></td>
            </tr>
            <tr>
                <td>Server Version</td>
                <td><span id="server-version">Unavailable</span></td>
            </tr>
            </tbody>
        </table>

        <button id="server-switch" class="mc-grn-btn">
            Unavailable
        </button>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/panel/status.js') }}"></script>
{% endblock %}
