{% extends "panel/_template.html" %}
{% from "_utilmacros.html" import list_flashed_messages %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Whitelist{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel/whitelist.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="mc-card">
        <h1>Whitelist</h1>

        {{ list_flashed_messages() }}

        <h1>Add</h1>
        <form action="{{ url_for('whitelist_add') }}" method="post">
            {{ render_field(form.name) }}
            {{ form.csrf_token }}
            <button type="submit" class="mc-grn-btn">Submit</button>
        </form>

        <h1>Remove</h1>
        <form action="{{ url_for('whitelist_remove') }}" method="post">
            {{ render_field(form.name) }}
            {{ form.csrf_token }}
            <button type="submit" class="mc-grn-btn">Submit</button>
        </form>

        <ul>
            {% for user in users %}
                <li>{{ user.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}