@import "mixins";

.properties-editor {
  @include center-flex;

  flex-direction: column;
  width: 500px;
  height: 500px;
  max-width: 90vw;
  max-height: 90vw;
}

.config {
}

form {
  height: 400px;
  width: 800px;
  margin: 20px;
}

.properties-textarea {
  height: 100%;
  width: 100%;
}