// mcadmin/assets/scss/configuration_panel/edit_server_properties.scss
@import "mixins";

.properties-editor {
  @include center-flex;

  flex-direction: column;
  width: 500px;
  height: 500px;
  max-width: 90vw;
  max-height: 90vw;
}